@import '../../common/colors.scss';

.movie-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
    position: relative;
    @media (max-width: 666px) {
        width: 100%;
        flex-direction: column-reverse;
        margin: 0px auto;
    }
}

.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: $font-secondary;
    display: flex;

    span {
        margin-right: 20px;
    }
}

.movie-title {
    font-size: 50px;
    color: $font-primary;
    @media (max-width: 666px) {
        text-align: center;
        font-size: 36px;
    }
}

.movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
}
.info-box {
    position: relative;
    @media (max-width: 1000px) {
        position: static;
    }
}
.movie-info {
    @media (max-width: 666px) {
        margin-top: 10px;
    }
    flex: 2;
}
.provider-box {
    font-weight: bold;
    position: absolute;
    top: 30%;
    right: 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
        border-radius: 10px;
        width: 44px;
        height: 44px;
    }
    .stream {
        margin-bottom: 20px;
        text-align: center;
        font-size: 28px;
        width: 100%;
    }
    .youtube {
        text-align: center;
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;
    }
    .ott {
        flex: 1;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    @media (max-width: 1000px) {
        top: 80%;
        .stream {
            font-size: 18px;
        }
    }
    @media (max-width: 666px) {
        margin-top: 30px;
        position: static;
        top: 100%;
        .stream {
            font-size: 20px;
        }
    }
}
.movie-info > div span:first-child {
    padding: 10px 0px;
    color: $font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}
.movie-info > div span {
    color: $font-secondary;
}

.fa-star {
    color: #ff9e00;
}

.fa-thumbs-up {
    color: #ffffff;
}
.fa-film {
    color: rgba(191, 213, 214);
}
.fa-calendar {
    color: peachpuff;
}

.section-right {
    margin-left: 30px;
    img {
        border-radius: 12px;
    }
    @media (max-width: 666px) {
        margin: 0px auto;
    }
}
