@import '../../common/colors.scss';
.card-item {
    background: $secondary-color;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 8px;
    min-height: 420px;
    height: 100%;
    margin: 16px;
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }
}

.card-top {
    height: 300px;
    img {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        // height: 100%;
    }
}
.card-bottom {
    padding: 20px;
}
.card-info {
    color: $font-primary;

    h4 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 10px;
    }
}
